/* Interface */

.bt-window {
  font-family: sans-serif;
  background-color: lightsteelblue;
  font-size: 16px;
  padding: 5px 10px;
  /*line-height: 12px;*/
  position: fixed;
  top: 0px;
  right: 1px;
  /*text-align: center;*/
  /*z-index: 999999;*/
}

.bt-window label {
  margin-right: 10px;
}

.bt-version {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
}

.bt-current-prefix {
  display: inline-block;
  margin: 0 5px;
}

.bt-window-with {
  width: 55px;
  padding: 2px 5px;
  display: inline-block;
  margin: 3px 5px 0 5px;
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 2px;
  text-align: center;
}

.bt-breakpoint {
  margin: 3px;
  display: inline-block;
  padding: 3px 10px;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: royalblue;
}
.bt-breakpoint:hover {
  background-color: #18399a;
}
.bt-breakpoint:active {
  background-color: dodgerblue;
}
.bt-breakpoint:active:hover {
  background-color: dodgerblue;
}

/* Page injections */

/* Containers highlights */

.containers__active .container {
  background-color: #ede2ff;
  border: 3px dashed #563e7d;
}

/* Rows highlights */

.rows__active .row {
  background-color: #f8f3ed;
  border: 2px dashed tan;
}

/* Cols highlights */

.cols__active [class*=' col'] {
  background-color: #e6ffff;
  border: 1px dashed aqua;
}

/* Grid highlights */

.grid__active .cb-grid-lines {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}

.grid__active .cb-grid-lines > * {
  box-sizing: border-box;
}

.grid__active .cb-grid-lines .container {
  height: 100%;
  position: relative;
}

.grid__active .cb-grid-lines .container:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: red;
}

.grid__active .cb-grid-lines .container:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: red;
}

.grid__active .cb-grid-lines .container .row {
  height: 100%;
}

.rows__active .cb-grid-lines .container .row,
.containers__active .cb-grid-lines .container {
  background-color: transparent;
  border: transparent;
}

.grid__active .cb-grid-lines .container .row > * {
  height: 100%;
  background: rgba(0,0,0,0.2);
}

.grid__active .cb-grid-lines .container .row > *:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.2);
}
